<form *ngIf="!loginService.isLogged()">
  <div class="form-row align-items-center">
    <div class="col-auto">
      <input [(ngModel)]="model.username" [ngModelOptions]="{standalone: true}" type="text" class="form-control mb-2" placeholder="Username">
    </div>
    <div class="col-auto">
      <div class="input-group mb-2">
        <input [(ngModel)]="model.password" [ngModelOptions]="{standalone: true}" type="password" class="form-control" placeholder="Mot de passe">
      </div>
    </div>
    <div class="col-auto">
      <button (click)="login($event)" class="btn btn-primary mr-2">Connexion</button>
      <button (click)="register($event)" class="btn btn-secondary">Créer un compte</button>
    </div>
  </div>
</form>
<div *ngIf="loginService.isLogged()">
  <app-new-post></app-new-post>
  <button class="btn btn-secondary btn-sm" (click)="logout($event)">Se déconnecter</button>
</div>
