<div *ngIf="usersService.getUsers().length">
  <h5 class="m-2">10 premiers utilisateurs</h5>
  <ul class="list-group-item">
    <li *ngFor="let user of usersService.getUsers()" class="list-group-item d-flex justify-content-between">
      {{ user.username }}
      <button type="button" class="btn btn-info btn-sm" [hidden]="!canFollow(user)" (click)="follow(user.username)"><span class="fas fa-heart mr-1"></span> Suivre</button>
    </li>
  </ul>
</div>

<h5 class="my-3 ml-2">Follow un utilisateur</h5>
<form (ngSubmit)="follow(followUsername)">
  <div class="form-group">
    <label for="followName">Nom</label>
    <input type="text" class="form-control" id="followName" name="followName" [(ngModel)]="followUsername">
  </div>
  <button type="submit" class="btn btn-primary btn-block">Suivre</button>
</form>
