<header>
  <div class="navbar navbar-dark bg-dark shadow-sm d-flex justify-content-between">
    <a href="#" class="navbar-brand d-flex align-items-center">
      <i class="fas fa-instagram"></i>
      <strong>TinyInsta</strong>
    </a>
    <app-header (loggingIn)="onLogging()" (loggingOut)="onLoggingOut()"></app-header>
  </div>
</header>
<app-errors></app-errors>
<main role="main" class="bg-light" *ngIf="loginService.isLogged()">
  <div class="row">
    <div class="col-md-3 p-4">
      <app-users></app-users>
    </div>
    <div class="col-md-9">
      <div class="album py-5" [hidden]="!timelineService.getPosts().length">
        <div class="container">
          <div class="row">
            <div class="col-md-6" *ngFor="let post of timelineService.getPosts()">
              <app-post [post]="post"></app-post>
            </div>
          </div>
        </div>
      </div>
      <div [hidden]="timelineService.getPosts().length">
        <div class="card">
          <div class="card-body">
            Vous ne suivez personne, il n'y a aucun post à afficher.
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<div class="jumbotron" *ngIf="!loginService.isLogged()">
  <h1 class="display-4">Bienvenue!</h1>
  <p class="lead">Ceci est le nouveau instragram qui va révolutionner l'internet.</p>
  <hr class="my-4">
  <p>Pour commencer l'aventure TinyInsta merci de vous connecter ou de créer un compte</p>
</div>

