<div class="row justify-content-center">
  <div class="col-md-6 mt-2">
    <div *ngFor="let error of errorsService.getErrors()" class="alert alert-dismissible fade show"
         [ngClass]="'alert-' + error.type" role="alert">
      {{ error.message }}
      <button type="button" class="close" aria-label="Close" (click)="errorsService.removeError(error)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
