<div class="card mb-4 shadow-sm">
  <img src="{{ post.url }}" alt="Image non trouvée" width="100%" height="225">
  <div class="card-body">
    <p class="card-text">{{ post.description }}</p>
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <form (ngSubmit)="like(post.id)">
          <button type="submit" class="btn fas fa-heart"></button>
        </form>
        <span> {{ post.like }} like{{ post.like > 1 ? "s" : "" }}</span>
      </div>
      <small class="text-muted">{{ post.date.toLocaleString() }}</small>
    </div>
  </div>
</div>
