<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Poster une image</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="url">URL de l'image</label>
        <div class="input-group">
          <input [(ngModel)]="post.url" id="url" name="url" class="form-control" placeholder="Ex: http://image.com/mon-image.jpg" type="string">
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <div class="input-group">
          <input [(ngModel)]="post.description" name="description" id="description" class="form-control" placeholder="Ex: " type="string">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Save</button>
  </div>
</ng-template>

<button class="btn btn-primary btn-sm mr-2" (click)="open(content)">Poster une photo</button>
